*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: radial-gradient(#fff,#777373);
}
/* Nav-bar */
.container{
    max-width: 1300px;
    margin : auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logo{
    color:black;
    font-size:40px;
    justify-content: left;
    text-align: left;
}
.grid-container-element {
    display: grid;
    padding-top:10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 60px;
}
.nbar{
    justify-content: right;
    text-align: right;
    height: 60px;
    z-index:999;
}
.container div label{
    font-size: 2.3em;
    height: 100%;
    width: 60px;
    line-height: 60px;
    text-align: right;
    cursor: pointer;
    transition: .5s ease;
}
.container div label:hover{
    color: #fff;
    background: #000;
}
input[type=checkbox]{
    display: none;
}
.container nav{
    top: 60px;
    bottom: 0;
    width: 0;
    background: rgba(0,0,0,.1);
    box-shadow: 2px 5px 5px #000;
    overflow:hidden;
    transition: .5% ease;
}
.container nav ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    font-family: arial;
    color: #000;
    background: radial-gradient(#fff,#777373);
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 14px;
    height: 55px;
}
.container nav ul li a:hover {
    background: rgba(0,0,0,.7);
    color: #fff;
    border-right: 5px solid #fff; 
}
input[type=checkbox]:checked ~ nav {
    width: 150px;
}
a{
    text-decoration: none;
    color: #090404;
}
p{
    color: #2c2c2c;
}/* intro & Exclusive*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    padding-left:40px;
}
.col-2 p{
    padding-left:40px;
}
h4{
    color: #000000;
    font-weight: normal;
}
.offer{ /* offer Section */
    background : radial-gradient(#fff,#777373);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{ /* offer Section */
    padding: 50px ;
}
.btn{
    display: inline-block;
    background: #171616;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    margin-left: 40px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
/* Showcase */
.categories{
    margin: 70px 0px;
}
.col-3{
    flex-basis: 30%;
    min-width : 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
/* Scrollable Pro */
.rowScroll {
	display: inline-flex;
	justify-content: flex-start;
	max-height: 450px;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	padding: 20px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.col{
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col img{
    width: 100%;
}
.col p{
    font-size: 14px;
}
.col:hover{
    transform : translateY(-15px);
    background: #171616;
    h4 , p{
        color: white;
    }
}
/* paged products*/
.block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.product{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.product img{
    width: 100%;
}
.product p{
    font-size: 14px;
}
.product:hover{
    transform : translateY(-15px);
    background: #171616;
    h4 , p{
        color: white;
    }
}
/* title-headings */
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #090404;
}
.title::after{
    content: '';
    background: #ff0e0e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(1050%);
}

/* Slider */
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
/* Pagination */
.pagination {
    text-align: center;
    margin: 20px;
  }
.pagination button {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px;
  border: 1px solid #ccc;
}
.pagination button:hover {
    background-color: black;
    color: white;
}
.pagination button.active {
    background: #000;
    color: white;
}
/* Contact-Form */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    margin: 40px auto;
  }
  .contact-form h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #171616;
  }
  .contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    max-height: 300px;
  }
  .contact-form button {
    background-color: #171616;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
