*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
.logo{
    p{
        font-size: 35px;
        color: black;
    }
}
.search{
    padding-left:250px;
}
#sbar{
    padding-left: 120px;
    padding-right:8px;
    padding-top:8px;
    padding-bottom:10px;
}
#simg{
    max-width:31px;
    max-height: 31px;
}
.navbar{
    display : flex;
    align-items : center;
    padding : 20px;
}
nav{
    flex : 1;
    text-align : right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
   margin-right: 20px;
   font-size: 23px;
}
a{
    text-decoration: none;
    color: #090404;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin : auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #171616;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#777373);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width : 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #090404;
}
.title::after{
    content: '';
    background: #ff0e0e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(1050%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform : translateY(-15px);
    background: #171616;
    h4 , p{
        color: white;
    }
}
.offer{
    background : radial-gradient(#fff,#777373);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.pagination {
    text-align: center;
    margin: 20px;
  }
.pagination a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  margin: 5px;
  border: 1px solid #ccc;
}
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
  }
  .contact-form h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #171616;
  }
  .contact-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .contact-form button {
    background-color: #171616;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
